


<table border="2">
 {%for a in st%}  <tr>
     
       
        <td>{{a.NSC}}</td>
        <td>{{a.email}}</td>
      <td><a href="{{path('remove2',{'id':a.NSC})}}">remove </a> </td>
       <td><a href="{{path('addstudent')}}">Add </a> </td>
        <td><a href="{{path('updatestudent',{'id':a.NSC})}}">Update </a> </td>
      </td>


    </tr>   {% endfor %}
    </table>