{#question 2 :#}

{% for h in f %}
<hr>
{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}
</hr>

{% endfor %}

{#question 3 :#}
<hr></hr>
<hr></hr>

{% for h in f %}
{{h.Titre|upper}}
{% endfor %}

{#question 4 :#}

<hr></hr>
<hr></hr>
{{f|length}}

{#question 5:#}
<hr></hr>
<hr></hr>

{% for h in f %}
{% if h.Description ends with 'theorique' %}
{{h.Titre}}
{% endif %}
{% endfor %}


{#question 6:#}
<hr></hr>
<hr></hr>
{%set max=0 %}
{% for h in f %}
{% if h.nb_participants>max %}
{%set max=h.nb_participants %}
{% if max==h.nb_participants %}
{{h.Titre}}
{% endif %}
{% endif %}
{% endfor %}


{#question 7:#}
<hr></hr>
<hr></hr>

{%set sum_participant=0 %}
{% for h in f %}

{%set sum_participant=sum_participant+h.nb_participants %}

{% endfor %}
{{sum_participant}}


{#question 8:#}
<hr></hr>
<hr></hr>

{%if f is empty  %}
il n'ya pas de formation 
{% else %}
{% for h in f %}
<hr>
{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}
</hr>
{% endfor %}
{% endif %}



{#question 9:#}
<hr></hr>
<hr></hr>
{% for h in f %}
{% if h.nb_participants == 0 %}
<hr>
{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}
<input type="submit" value="participer">
</hr>
{% endif %}
{% endfor %}




{#question 10:#}
<hr></hr>
<hr></hr>

{% for h in f %}

<hr>
{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}

</hr>

<a href="{{path('test',{'t':h.Titre})}}">participer </a>
<input type="submit" value="participer" onclick = href="{{path('test',{'t':h.Titre})}};"/>

{% endfor %}








