


<table border="2">
 {%for a in st%}  <tr>
     
       
        <td>{{a.REF}}</td>
        <td>{{a.createdAt|date('d/m/Y')}}</td>
       <td><a href="{{path('remove3',{'id':a.REF})}}">remove </a> </td>
       <td><a href="{{path('addclub')}}">Add </a> </td>
        <td><a href="{{path('updateclub',{'id':a.REF})}}">Update </a> </td>
      


      
          
        </td>


    </tr>    {% endfor %}
    </table>