


<table border="2">
 {%for a in st%}  <tr>
     
       
        <td>{{a.id}}</td>
        <td>{{a.name}}</td>
       
      <td><a href="{{path('remove4',{'id':a.id})}}">remove </a> </td>
       <td><a href="{{path('addclass')}}">Add </a> </td>
        <td><a href="{{path('updatec',{'id':a.id})}}">Update </a> </td>


      
          
        </td>


    </tr>    {% endfor %}
    </table>